.content{
    max-width: 500px;
    margin: auto;
}

.titleClass{
    text-align: center;
    font-size: 35px;
    color: rgb(0, 153, 255);
}

body{
    background-color: rgb(148, 142, 142);
}

.boardClass{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-gap: 2px;
    width: 100px;
    height: 200px;
    margin: 100px;
    /* position: relative; */
    /* left: 415px; */
}

.textClass{
    text-align: center;
    margin: 150px;
}

.youWinClass{
    text-align: center;
    margin: 150px;
    font-size: 40px;
    color: white;
}

.slotClass{
    text-align: center;
    height: 40px;
    width: 40px;
    padding: 1px;
    background-color: rgb(0, 153, 255);
}

.discClass{
    text-align: center;
    height: 25px;
    width: 25px;
    /* background-color: yellow; */
    border-radius: 50%;
    position: relative;
    left: 7.5px;
    top: 7.5px;
    /* display: none; */
    /* position: absolute; */
    /* display: inline-block; */
}

.turnClass{
    text-align: center;
    font-size: 40px;
}

.yellowClass{
    background-color: yellow;
}

.redClass{
    background-color: red;
}

/* all new below */

.yellowsTurn{
    color: yellow;
}

.redsTurn{
    color: red;
}

/* .container{
    position: fixed;
} */



#title{
    text-align: center;
    font-size: 50px;
    color: rgb(0, 153, 255);
}

#helpButton{
    height: 50px;
    width: 75px;
    top: 10px;
    right: 10px;
    position: absolute;
}

#resetBtn{
    height: 50px;
    width: 75px;
    top: 10px;
    right: 90px;
    position: absolute;
}

.modalClass{
    
        display: none; /* Hidden by default */
        position: fixed; 
        z-index: 2; /* Sit on top */
        /* padding-top: 20px; Location of the box */
        left: 0;
        top: 250px;
        bottom: 0;
        right: 0;
        width: 200px; /* Full width */
        height: 200px; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(193, 212, 221); /* Fallback color */
        /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
        /* background-color: #fefefe; */
        margin: 0 auto;
        padding: 10px;
        border: 1px solid #888;
        
    }