body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle at center, #f4f4f4, #808080);
}


.player-turn-and-board-container-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 600px; /* ------------------------------*/
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.player-turn-text{
    font-size: 3rem;
    /* font-size: 3vw; -------------- */
    padding: 0;
    margin-bottom: 1rem;
    font-weight: bolder;
}

.board-container {
    /* width: 60%; */
    width: 90vw;
    height: auto;
    max-width: 600px;
    align-items: center;
    background-color: rgb(0, 153, 255);
}

.board-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    /* gap: 2vw; ------------------- */
    justify-content: center;
    border: 1px solid rgb(0, 153, 255);
    padding: 1rem 3rem;
    /* padding: 2vw; --------------------- */
}

.slot {
    width: 100%;
    padding-top: 100%;
    background-color: rgb(170, 172, 173);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.disc {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    /* Center the disc within the slot */
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(15, 14, 14);
    display: flex;
    align-items: center;
    justify-content: center;
}

dialog {
    z-index: 2;
    margin: auto;
    height: 24vh;
    width: 16vw;
    border-radius: 5%;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

dialog::backdrop {
    background-color: hsla(197, 3%, 50%, 0.5);
}

.modal-class {
    overflow-y: auto;
}

.play-again {
    z-index: 2;
    width: 10vw;
    height: 10vh;
    cursor: pointer;
}

.winner-text{
    margin:0;
    padding: 0;
    padding-bottom: 2rem;
}

/* @media screen and (max-width: 768px) {

    .board-container{
        width: 95%;
    }

    .board-grid{
        width: 20rem;
        padding-left: 10px;
        border: 0;
    }

    .player-turn-and-board-container-container{
        padding-bottom: 200px;
    }
} */