/* html{
    background-color: rgb(214, 211, 211);
} */

#contentId {
    font-family: 'Courier New', Courier, monospace, monospace;
    font-size: small;
}

.container {
    /* background-color: blue; */
    /* width: 50vw;
    height: 50vh; */
    top: 0px;
    bottom: 0px;
    display: grid;
    place-items: center;
    /* position: absolute; */
    left: 10%;
    right: 10%;

    /* background-color: white; */
    /* height: 100vh; */
}

.title {
    font-size: 60px;
}

/* .center {
    margin: auto;
    width: 50%;
}



.title {
    text-align: center;
    font-size: 50px;
}

div {
    padding-top: 25px;
} */

/* .myFile{
    width: 300px;
    height: 500px;
} */