p{
    max-width: 100ch;
    text-align: center;
    margin: 0 auto;
}

body{
    text-align: center;
    background-color: rgb(105, 131, 158);
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}

h1,h2,p{
    /*font-family: 'Courier New', Courier, monospace;*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: beige;

    /* max-width: 50spx;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
}

h1{
    font-size: 60px;
    color: beige;
}

#myPic{
    position: relative;
    top: 40px;
    border-radius: 50%;
    border: 10px solid beige;
}


figure{
    display: inline-block;
}

figcaption{
    text-align: center;
    color: beige;
}

img{
    background-color: beige;
}


#c4Id{
    border-radius: 25px;
}

#cal{
    border-radius: 25px;
}

#weather{
    border-radius: 25px;
}

#hexdump{
    border-radius: 25px;
}
/* #linkedDiv{
    text-align: center;
} */

#projectsId{
    width: 500px;
    margin: auto;
}