* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* main{
    
} */

img {
    max-width: 100%;
}

figcaption {
    text-align: center;
}

figure {
    display: inline-block;
}

.beige-text {
    color: beige;
}

.icon {
    background-color: beige;
}


header {
    z-index: 1;
    background-color: #333;
    position: fixed;
    width: 100%;
    min-height: 10vh;
}

nav {
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    padding: .75rem;
}

nav li:first-child {
    /* Add margin between Taylor and the rest of the links */
    margin-right: 3rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}


nav a:hover {
    /* color: #2aa013; */
    color: rgb(73, 158, 116);
}

.profile-container {
    background-image: url(images/pexels-philippe-donn-1169754.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    display: grid;
    grid-template-rows: auto auto;
    margin-top: 10vh;
}

.myPic {
    margin-top: 6vw;
    border-radius: 50%;
    border: 10px solid beige;

}

.myPic-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myPic-figure figcaption {
    font-size: 5rem;
}

.icon-container {
    padding-bottom: 7rem;
}

.top,
.bottom {
    margin: 0 auto;
}


.linkedIn-figure {
    margin-right: 2vh;
}

.resume-figure {
    margin-left: 2vh;
}

.scroll-div {
    scroll-margin-top: 10vh;
    scroll-padding-top: 10vh;
}

/* -------------------Project section code ------------------ */

.project-container-main {
    min-height: 100vh;
    text-align: center;
}

.project-container-main h1 {
    padding-top: 6vh;
    font-size: 4rem;
    font-weight: 400;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
}

.project-item {
    width: 20%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

.project-img{
    height: 15rem;
    width: 20rem;
}

.project-item img:not(.gif) {
    width: 100%;
}

.project-item img:hover:not(.gif) {
    cursor: pointer;
    opacity: .5;
}

.project-item p {
    max-width: 100%;
}


/* dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    display: block;
} */


/*.modalDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

 dialog {
    width: 700px;
    height: 450px;
}

dialog::backdrop {
    background-color: hsla(197, 3%, 50%, 0.5);
}

.seamCarvDesc {
    max-width: 50ch;
}
*/

dialog{
    z-index: 2;
    margin: auto;
    height: 90vh;
    width: 60vw;
}

dialog::backdrop {
    background-color: hsla(197, 3%, 50%, 0.5);
}

.modalClass{
    overflow-y: auto;
}

.closeModal {
    position: absolute;
    top: 2px;
    right: 0;
    width: 100px;
    height: 60px;
    font-size: 50px;
}

.contact-container {
    min-height: 100vh;
    background-color: rgb(73, 158, 116);
    display: flex;
    /* justify-content: center; */
    text-align: center;
    flex-direction: column;
}

.contact-item:not(.submit) {
    padding-bottom: 6vh;
}

.contact-title {
    /* padding-bottom: 30vh; */
    /* padding-top: .1rem; */
    padding-top: 6vh;
    font-size: 4rem;
    font-weight: 400;
}

.contact-message-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
}

.contact-message-item {
    height: 75%;
}

input:not(.submit) {
    display: block;
    margin-bottom: 4vh;
}

.input {
    height: 5vh;
}

textarea {
    height: 32.5vh;
    width: 50vw;
}

.submit {
    height: 2rem;
    width: 4rem;
}

/* .submit{
    justify-content: space-around;
} */



/* @media screen and (min-width: 375px) {
    .scroll-div {
        scroll-margin-top: 22vw;
    }
} 
*/